body {
	background-color: black;
}

#close_tag {
	width: 90%;
	border-radius: 10px;
	text-align: center;
}

#header {
	color:white;
	text-align: center;
}

#list {
	background-color: #333333;
	color: green;
	border-radius: 10px;
	padding: 2px;
	height: 700px;
}

#score {
	background-color: green;
	color: black;
	border-radius: 10px;
	height: 15px;
	width: 50%;
	float: left;
}

#start {
	background-color: green;
	color: black;
	border-radius: 10px;
	position: absolute;
	margin-top:-15px;
	margin-left:-50px;
	left: 50%;
	top: 50%;
	height: 30px;
	width: 100px;
	text-align: center;
	line-height: 30px;
}

.item {
	background-color: black;
	color: green;
	border-radius: 10px;
	height: 15px;
	margin: 2px;
}